<div class="container-fluid ">

    <div class="row mb-2">
        
        {{#if user.userRegistered}}
            <div class ="col-1">
                <a  href="">
                    <button class="btn btn-primary" type="button" id="botonLoginLogout" onclick=logout()>       
                        Logout
                    </button>
                </a>
            </div>

            <div class="col-7">
                <div>{{user.last_name}}, {{user.first_name}}</div>
                <div>{{user.email}} ({{user.role}})</div>
            </div>                 


        {{else}}
            <div class ="col-1">              
                    <button class="btn btn-primary" type="button" id="botonLoginLogout" onclick=login()>       
                        Login
                    </button>               
            </div>
            <div class="col-7">
                    <button class="btn btn-primary" type="button" id="botonRegister" onclick=register()>       
                        Registrate
                    </button>
            </div>
        {{/if}}

        <div class = "col-4">
            <section>
                    <button id='cartButton' class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#carritoOffcanvas" aria-controls="carritoOffcanvas">
                    <i class="bi bi-cart4"><img = src="./imgs/shopping_cart.svg"></i>
                    <span id="contadorCarrito">
                        {{user.cartQty}}
                    </span>
                </button>
           {{!--      </a> --}}
                {{#if user.userRegistered}}
                    <a href="/chat">
                    <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#chatOffcanvas" aria-controls="chatOffcanvas">
                        <i class="bi bi-cart4"><img = src="./imgs/chat.svg"></i>
                    </button>                                    
                    </a>
                {{/if}}
            </section>
        </div>
    </div>


    {{!-- Canvas del carrito. --}}

        <div class="offcanvas offcanvas-end bg-info" tabindex="-1" id="carritoOffcanvas" aria-labelledby="carritoOffcanvasLabel">
            <div class="offcanvas-header  bg-primary">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Tu Pedido</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                    <table class="table">

                    <tbody id="items">
                    </tbody>
                    <tfoot>
                        <tr id="footer">
                        <th scope="row" colspan="6">Tu carrito está vacío!</th>
                        </tr>

                    </tfoot>
                </table>

            </div>
        </div>
    {{!-- FIN Canvas del carrito. --}}

    <div class="container">
    <div class="row">
        <div class="col">
        <div class="border border-danger p-3">
            <form class="d-flex">
            <div class="me-3">
                <label for="categoria" class="form-label">Categoría:</label>
            </div>
            <div class="me-3">
                <select id="categoria" class="form-select">
                {{#each catList}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                </select>
            </div>
            <div class="me-3">
                <label class="form-check-label">PRECIO:</label>
            </div>
            <div class="me-3">  
                <div class="form-check">
                <input class="form-check-input" type="radio" name="orden" id="ascendente" value="asc" checked>
                <label class="form-check-label" for="ascendente">Ascendente</label>
                </div>
            </div>
            <div class="me-3">    
                <div class="form-check">
                <input class="form-check-input" type="radio" name="orden" id="descendente" value="desc">
                <label class="form-check-label" for="descendente">Descendente</label>
                </div>
            </div>
            <button type="button" onclick=aplicar() class="btn btn-primary">Aplicar</button>
            </form>
        </div>
        </div>
    </div>
    </div>



    <br>

    <div class="row mb-3">

    {{#if products}}
        {{#each products}}
        <div class="col-4">
            <div class="card " style="width: 18rem; height:500px">
            <img class="img-fluid"  style="height: 250px"  src={{this.thumbnails}} alt="{{this.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <div class="row mb-2">
                    <div class="col-6">
                    <mark>$ {{this.price}}</mark>
                    </div>
                    <div class="col-6">
                        {{#if ../user.userRegistered}}
                            <a href="#" class="btn btn-outline-primary" onclick=addToCart('{{../user.cartId}}','{{this._id}}')>Comprar</a>
                        {{else}}
                            <a href="#" class="btn btn-outline-primary" onclick=login()>Inicia Sesión</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            </div>
        </div>
        {{/each }}  

    {{/if}}
    </div>
    {{#if havePages}}
        <div class="row mb-3">
            <div class="col-4">
                {{#if hasPrevPage}}
                    <a href="{{prevLink}}" class=""><< Pagina {{prevPage}}</a>
                {{/if}}
            </div>
            <div class="col-4">
                Pagina  {{page}} de {{totalPages}}
            </div>
            <div class="col-4">
                {{#if hasNextPage}}
                     <a href="{{nextLink}}" class="">Pagina {{nextPage}} >></a>
                {{/if}}
            </div>

        </div>
    {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/index.js"></script>